@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Swiper Styles */

.swiper-button-next,
.swiper-button-prev {
  width: 42px;
  height: 42px;
  color: #088178;
  background-color: #e8f6ea;
  border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #e8f6ea;
  background-color: #088178;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
